/* UNCOMPRESSED STYLESHEET */
form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

a {
    color: var(--content-color);
}

ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 10px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
}