<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/infos.css" />
    <title>Commandes</title>
    <meta name="description" content="Commandes pour le jeu sur clavier" />
  </head>
  <body>
    <h1>Commandes</h1>
    <br />
    <ul>
      <li>Z : Attaque simple</li>
      <li>Q : Recharger le mana</li>
      <li>S : Attaque spéciale</li>
      <li>D : Se soigner</li>
      <li>ESPACE : Passer en mode rage</li>
      <li>↑ : Aller en haut</li>
      <li>→ : Aller à droite</li>
      <li>← : Aller à gauche</li>
      <li>↓ : Aller en bas</li>
    </ul>
  </body>
</html>
