<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="img/logo.webp" type="image/webp" />
  <link rel="stylesheet" href="styles/base.css" />
  <link rel="stylesheet" href="styles/menu.css" />
  <title>Menu de sélection</title>
  <meta name="description" content="Jouer à One Piece en duel en ligne ou seul contre l'IA." />
</head>

<body>
  <nav>
    <a href="/controls">
      <button id="controls" class="icon-btn left">
        <img src="/img/icon/question.svg" alt="Commandes" class="icon white" />
      </button>
    </a>
    <a href="/settings">
      <button id="settings" class="icon-btn right">
        <img src="/img/icon/settings.svg" alt="Réglages" class="icon white" />
      </button>
    </a>
  </nav>

  <section class="mode">
    <h2>MODE DE JEU</h2>
    <div id="mode-toggle">
      <button class="dual">
        <img src="/img/icon/dual.svg" alt="Commandes" class="icon" />
      </button>
      <button class="solo">
        <img src="/img/icon/solo.svg" alt="Commandes" class="icon" />
      </button>
    </div>

    <div class="mode-selction dual">
      <h3>MODE 2 JOUEURS</h3>
      <h2><label for="text-id">IDENTIFIANT DE JEU</label></h2>
      <div>
        <input type="text" name="text-id" id="text-id" />
        <button id="random-id">
          <img src="/img/icon/dice.svg" loading="lazy" alt="Commandes" class="icon" />
        </button>
        <button id="copy-id">
          <img src="/img/icon/link.svg" loading="lazy" alt="Commandes" class="icon" />
        </button>
      </div>
    </div>

    <div class="mode-selction solo">
      <h3>MODE 1 JOUEUR</h3>
      <h2><label for="bot-level">NIVEAU DE L'ORDI</label></h2>
      <select name="bot-level" id="bot-level">
        <option value="easy">Facile</option>
        <option value="medium">Intermédiaire</option>
        <option value="hard">Difficile</option>
      </select>
    </div>
  </section>

  <section class="characters">
    <h2>CHOISIS UN PERSONNAGE</h2>
    <form id="character-list">
      <!-- Character selection will be generated here -->
    </form>
  </section>

  <section class="stadium">
    <h2><label for="stadium-list">CHOISIS UN TERRAIN</label></h2>
    <select name="stadium" id="stadium-list">
      <!-- Stadium selection will be generated here -->
    </select>
  </section>

  <section class="validate">
    <button id="submit">COMMENCER !</button>
  </section>
  <script type="module" src="./scripts/home/selection.js"></script>
</body>

</html>